@charset "UTF-8";
body {

  background-image: url('../images/komak.png');
  background-color: magenta;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}



